/* Tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables.scss";
@import "store.scss";
@import "blog.scss";

/* Backgound */
.bg-dark {
  background-color: $dark_bg;
}
.bg-primary_accent {
  background-color: $primary_accent;
}
.bg-secondary_accent {
  background-color: $secondary_accent;
}
.bg-highlight {
  background-color: $highlight;
}
.bg-additional_accent {
  background-color: $additional_accent;
}

.hover-bg-primary_accent {
  &:hover {
    background-color: $primary_accent;
  }
}

.hover-bg-secondary_accent {
  &:hover {
    background-color: $secondary_accent;
  }
}

.hover-bg-highlight {
  &:hover {
    background-color: $highlight;
  }
}

.hover-bg-additional_accent {
  &:hover {
    background-color: $additional_accent;
  }
}

.hover-text-primary_accent {
  &:hover {
    color: $additional_accent;
  }
}

.hover-text-secondary_accent {
  &:hover {
    color: $additional_accent;
  }
}

.hover-text-highlight {
  &:hover {
    color: $additional_accent;
  }
}

.hover-text-additional_accent {
  &:hover {
    color: $additional_accent;
  }
}

/* Fonts */
@font-face {
  font-family: "Matrix";
  src: URL("https://res.cloudinary.com/dgmz3uymj/raw/upload/v1724207888/Matrix-MZ4P_p5qbq5.ttf")
    format("truetype");
}
.matrix {
  font-family: "Matrix";
}

/* Flicker effect */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
.neon-flicker {
  animation: flicker 1.5s infinite alternate;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  background-color: #010401;
}

.text-primary_accent {
  color: $primary_accent;
}
.hover-text-primary_accent:hover {
  color: $primary_accent;
}

.text-secondary_accent {
  color: $secondary_accent;
}
.hover-text-secondary_accent:hover {
  color: $secondary_accent;
}

.text-highlight {
  color: $highlight;
}
.hover-text-highlight:hover {
  color: $highlight;
}

.text-additional_accent {
  color: $additional_accent;
}
.hover-text-additional_accent:hover {
  color: $additional_accent;
}

/*Effects*/
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.4s forwards;
}


// Scrollbar

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.055); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(241, 161, 161, 0.631); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f57474; 
  cursor: pointer;
}